{# path: /modules/custom/imd_shop/templates/discount-information.html.twig #}
{% trans %}
<h2>Special discount!</h2>
<p>If you buy for € {{ minimum_amount }} or more, you get a {{ discount }}% discount!</p>
<h3><a href="#">Start shopping</a></h3>
{% endtrans %}
